h1 {
    color: rgb(255, 166, 30);
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h3 {
    color: rgb(255, 166, 30);
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
li {
        color: rgb(170, 139, 36);
        font-size: 18px;
        font-family:  'Arial Narrow'}
ul {
            color: rgb(170, 139, 36);
            font-size: 18px;
            font-family:  'Arial Narrow'}
body {
            position: relative;
            top: 100px;
            left: 150px;
            width: 300px;
            height: 300px;
            background-color: #fffed3;
            }
h3:hover {
                font-size: 24pt;
                color:rgb(192, 29, 0);
                background-color: rgba(255, 158, 112, 0.2);
                border: transparent 1pt rgb(255, 255, 255);}
ul:hover {
                    font-size: 24pt;
                    color:rgb(192, 29, 0);
                    background-color: rgba(255, 158, 112, 0.2);
                    border: transparent 1pt rgb(255, 255, 255);}